extends layout

block content
  .container-fluid
    .row
      br
      br
    .row
      .col-md-4
        br
        br
        p.medium
          | Welcome to the TipBump app!
        p.medium
          | Click the Login button to go to the dashboard.
    hr
  include footer.pug

  div &nbsp;
  div &nbsp;
