doctype html
html
  head
    //title= title
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title= 'TipBump'
    //title= 'TipBump | ' + title

    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    //link(href='/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/css/Navigation-Clean.css',rel='stylesheet')
    link(href='/css/styles.css', rel='stylesheet')

    //link(href='/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')

    //link(href='/css/custom.css', rel='stylesheet')
    //link(href='/css/small-business-gcv.css', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans', rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather', rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Alegreya+SC:400,700', rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet' type='text/css')
    link(href="/images/favicon.ico", rel="shortcut icon", type='image/x-icon')

    <!--[if lt IE 9 ]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    //block termshdr

  body
    nav.navbar.navbar-light.navbar-expand.fixed-top.navigation-clean(style='padding:16px;background-color:#3f3f3f;')
      .container-fluid
        a.navbar-brand(href='/', style='color:#3f3f3f;')
          img#logo(src='https://tipbump.com/wp-content/uploads/2019/03/TIPBUMP-Logo-White.png', alt='Logo')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.collapse.navbar-collapse
          //ul.navbar-nav.mr-auto
          //  //li.nav-item.active
          //  //  a.nav-link(href='#')
          //  //    | Home
          //  //    span.sr-only (current)
          //  //li.nav-divider
          //  li.nav-item
          //    a.nav-link(href='/dashboard')
          //      | Dashboard
          //  //li.nav-item
          //  //  a.nav-link.disabled(href='#') Disabled
          //  //li.nav-item.dropdown
          //  //  a#dropdown01.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Dropdown
          //  //  .dropdown-menu(aria-labelledby='dropdown01')
          //  //    a.dropdown-item(href='#') Action
          //  //    a.dropdown-item(href='#') Another action
          //  //    a.dropdown-item(href='#') Something else here
          ////form.form-inline.my-2.my-lg-0
          ////  input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
          ////  button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/dashboard', style='color:#ffffff;')
                | Login

    block content

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
    script(type='text/javascript', src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(type='text/javascript', src='https://online.tableau.com/javascripts/api/tableau-2.0.0.js')
